<!doctype html>
<html><head>
  <meta charset = "utf-8">
  <meta name="name" content="content">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Script-Type" content="text/javascript">
  <meta http-equiv="Last-Modified" content="<%= Time.now().strftime("%Y-%m-%d %H:%M:%S (%A)") %> GMT">
  <meta name="keywords" content="<%= @keyword %> ">
  <meta name="description" content="<%= @page.get_description() %>">

  <title>="<%= @page.get_title() %>" </title>
        <link rel="stylesheet" type="text/css" href="./../image/reset-min.css">
		        <link rel="stylesheet" media="handheld, only screen and (max-width: 767px)" type="text/css" href="./../image/mockup_mobile.css">
        <link href="./../image/common.css" rel="stylesheet" type="text/css">
		        <link rel="shortcut icon" href="./../images/favicon.ico">

  <script type="text/javascript" async="" src="./../images/ga.js"></script><script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-23234148-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

    <style id="style-1-cropbar-clipper">/* Copyright 2014 Evernote Corporation. All rights reserved. */
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>


  <title><%= @config.home_title %></title>

</head>
